<!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Start Side Nav *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* -->
<aside class="side-nav">
  <div class="side-nav__content">
    <div class="side-nav__content--logo">
      <img src="./assets/benify_white_logo.svg" alt="logo">
    </div>
    <ul class="side-nav__content--social">
      <li><a href="https://www.facebook.com/BenifyGlobal" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="https://x.com/i/flow/login?redirect_after_login=%2FBenify_Global"><i class="fab fa-twitter" target="_blank"></i></a></li>
      <li><a href="https://www.linkedin.com/company/benify/"><i class="fab fa-linkedin-in" target="_blank"></i></a></li>
      <li><a href="https://www.instagram.com/benify/"><i class="fab fa-instagram" target="_blank"></i></a></li>
    </ul>
  </div>
</aside>
<!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* End Side Nav *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* -->