<div class="container">

  <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Start Side Nav *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* -->
  <benify-sidebar />
  <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* End Side Nav *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* -->
  <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Start Main *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* -->
  <main>
    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Start header *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* -->
    <benify-header />
    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* End header *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* -->
    <section>
      <router-outlet />
    </section>
    <benify-footer />
  </main>
  <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* End Main *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* -->
</div>