<div class="container">

    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Start Side Nav *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* -->
    <app-sidebar />
    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* End Side Nav *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* -->


    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Start Main *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* -->
    <main>
        <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Start header *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* -->

        <app-header />
        <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* End header *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* -->

       <section>
         <router-outlet/>
       </section>
        
    </main>

    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* End Main *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* -->

</div>