<!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Start Side Nav *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* -->
<aside class="side-nav">
  <div class="side-nav__content">
    <div class="side-nav__content--logo">
      <img src="./assets/benify_white_logo.svg" alt="logo">
    </div>
    <ul class="side-nav__content--social">
      <li><a [routerLink]="['/']"><i class="fa-solid fa-gear"></i></a></li>
      <li><a [routerLink]="['/']"><i class="fa-solid fa-info"></i></a></li>
      <li><a [routerLink]="['/']"><i class="fa-solid fa-right-from-bracket"></i></a></li>
    </ul>
  </div>
</aside>
<!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* End Side Nav *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* -->