@import "../../../sass/2.variables";
@import "../../../sass/@animations/animations";

.overview-container {
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__content {
    width: calc(3vw + 3vh);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    p {
      margin-top: 5rem;
      font-size: font-size(font-size-small);
      color: var(--quinary-color);
    }
    &--square {
      position: relative;
      margin: 0 1rem;
      width: 40rem;
      height: 40rem;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        color: var(--quinary-color);
      }
      &__one,
      &__two,
      &__three {
        position: absolute;
        width: 100%;
        height: 100%;
        border: 0.2rem solid var(--primary-color);
        transition: 0.5s;
        animation: animate 6s linear infinite;
      }
      &__one {
        border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
      }
      &__two {
        top: 0;
        left: 0;
        border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
      }
      &__three {
        top: 0;
        left: 0;
        border-radius: 31% 45% 74% 35% / 38% 56% 51% 37%;
        animation: animate2 10s linear infinite;
      }
      &__circle {
        position: relative;
        padding: 4rem 6rem;
        text-align: center;
        transition: 0.5s;
        z-index: 1000;
        &--drugRadar {
              font-size: font-size(font-size-medium);
        }
      }
    }
    &--twitch {
      span {
        border: none;
        background: var(--tertiary-color-m);
      }
    }
    &--button {
      margin: 4rem;
      height: auto;
      background: var(--primary-color);
      padding: 0;
      border: none;
      letter-spacing: 0.3rem;
      text-decoration: none;
      font-size: 2rem;
    font-family: font-family(dosis);
      position: relative;
      text-transform: uppercase;
      color: var(--quinary-color);
      -webkit-text-stroke: 1px var(--quaternary-color-m);

      .hover-text {
        position: absolute;
        box-sizing: border-box;
        content: attr(data-text);
        color: rgb(20, 36, 50);
        width: 0%;
        inset: 0;
        border-right: 0.6rem solid var(--stroke);
        overflow: hidden;
        transition: 0.5s;
        -webkit-text-stroke: 0.1rem var(--stroke);
      }

      &:hover {
        .hover-text {
          width: 100%;
          filter: drop-shadow(0 0 2.3rem var(--stroke));
        }
      }
    }

    &:hover {
      color: var(--quinary-color);
    }
  }
}
