<!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Start Overview *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* -->

<div class="overview-container">
  <div class="overview-container__content">
    <div class="overview-container__content--square overview-container__content--twitch" >
      <span class="overview-container__content--square__one"></span>
      <span class="overview-container__content--square__two"></span>
      <span class="overview-container__content--square__three"></span>
      <div class="overview-container__content--square__circle">
        <h2 class="overview-container__content--square__circle--drugRadar"> Benify </h2>
        <p>Global employee benefits and total rewards platform</p>
      </div>
    </div>

    <a [routerLink]="['/dashboard-signals']"   class="overview-container__content--button" >
      <span class="overview-container__content--button__actual-text">&nbsp;Dashboard&nbsp;</span>
      <span class="hover-text" aria-hidden="true">&nbsp;Dashboard&nbsp;</span>
    </a>
  </div>
</div>

<!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* End Overview *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* -->